<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black and White</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Black and White Spa</h1>
    <form action = "/enviar" method="post">
        <div class="form-group">
            <label for="title">Imagen URL:</label>
            <input type="text" id="title" name="url">
        </div>
        <button type="submit">Subir imagen al servidor</button>
    </form>
</body>
